@media (max-width: 768px) {
    .gallery {
        justify-content: space-between; /* Distribute photos evenly */
        gap: 10px; /* Reduce gap between photos */
    }
    .gallery img {
        width: calc(33.333% - 7.5px); /* Three photos per row with 7.5px gap */
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-family: italic;
}
.red {
    color: red;
}


nav {
    text-align: center;
    margin-bottom: 50px;
    transition: top 0.3s;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #777; 
    font-family: Papyrus;
    font-weight: bold; 
    font-size: 16px;
    transition: color 0.3s; 
}
nav a:hover {
    color: #000; 
}

@media (min-width: 769px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* Three items per row on desktop */
        row-gap: 8%; 
        column-gap: 5%; 
        justify-content: space-between;
        margin-bottom: 10%;
    }
}
@media (max-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Two items per row on mobile */
        row-gap: 5%;
        column-gap: 5%; 
        justify-content: space-between;
        margin-bottom: 10%;
    }
}
.gallery img {
    width: 100%; 
    object-fit: cover; 
    border-radius: 5px; 
}

@media (min-width: 769px) {
    .about {
        text-align: center;
        margin-bottom: 0%;
    }
}
@media (max-width: 768px) {
    .about {
        text-align: center;
        margin-bottom: 40%;
    }
}
.about h2 {
    font-family: Papyrus;
    font-weight: bold; 
    margin-bottom: 20px;
}
.about-content p {
    font-size: 19px;
    font-family: Papyrus;
    font-weight: bold;
    color: #464343;
    text-align: center;
    line-height: 1.5;
    max-height: 5em;
    width: 70%;
    margin-left: auto; 
    margin-right: auto; 
}

.contact {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}
.contact h2 {
    font-family: Papyrus;
    font-weight: bold; 
    color: #000000; 
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 2%; 
}
.contact a {
    color: #fff;
    text-decoration: none;
    background-color: #777;
    padding: 5px 10px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.contact a:hover {
    background-color: #000000;
}
.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-number {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 20px; /* Add some space between phone number and Instagram details */
}
.instagram {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 20px; /* Add some space between phone number and Instagram details */
}
.contact .phone-number a {
    margin-right: 50px; 
}
.contact .instagram a {
    margin-left: 0px; 
}

footer {
    background-color: #ffffff;
    font-family: monospace;
    font-size: 14px; 
    color: #777;
    text-align: center;
    padding: 1px 0;
}